<form class="form-container" action="/login" method="POST">

 <div class="input-container signup">
      <label class="label" for="email">Email:</label>
      <input class="input" type="text" name="email" id="email" required>
    </div>
    {{!-- username is what is console loggt in the auth.js --}}
    <div class="input-container">
      <label class="label" for="password">Password:</label>
      <input class="input" type="password" name="password" id="password" required>
      <button class="btn btn-login" type="submit">Login!</button>
    </div>



</form>

{{#if message}}
<p style="color: red">{{message}}</p>
{{/if}}
