
<header>

  <nav>
    <ul>
      <li>  <a href="/">Home</a> </li>
   
    </ul>
  </nav>
</header>



<h2 class="title">Create an account to give away your products!</h2>

<div class="form-container">
  <form action="/signup" method="POST" enctype="multipart/form-data">

    <div class="input-container">
      <label class="label" for="email">Email:</label>
      <input class="input" type="text" name="email" id="email" required>
    </div>
    {{!-- username is what is console loggt in the auth.js --}}
    <div class="input-container">
      <label class="label" for="password">Password:</label>
      <input class="input" type="password" name="password" id="password" required>
    </div>
    <div class="input-container">
      <label class="label" for="firstName">First Name:</label>
      <input class="input" type="firstName" name="firstName" id="firstName" required>
    </div>
    <div class="input-container">
      <label class="label" for="lastName">Last Name:</label>
      <input class="input" type="lastName" name="lastName" id="lastName" required>
    </div>
    <div class="input-container picture">
      <label class="label" for="photo">Your picture:</label>
      <input class="input" type="file" name="photo" id="photo" required>
    </div>
</div>
<button class="btn btn-signup" type="submit">Sign up</button>

<p class="center">
  Already a member?
  <a href="/login">Login!</a>
</p>




</form>

{{#if message}}
<p style="color: red">{{message}}</p>
{{/if}}