 {{#with user}}
    <div class="user">
      <h4>{{this.firstName}}</h4>
      <img src="{{this.imgPath}}" alt="Your image">
      {{!-- <a href="/movie/delete/{{this._id}}">❌</a> --}}
    </div>
    {{/with}}

    <a href="/logout">Logout</a>

<h1>Hallo</h1>

 