<header>
  <nav>
    <ul>
      <li> <a href="/login">Login</a> </li>
      <li> <a href="/signup">Sign up</a> </li>
    </ul>
  </nav>
</header>


  <h1>Make some room in your fridge & a happy neighbor!</h1> 
  <p>Offer your excess of food to the people
  around you instead of letting it go to waste</p>



<button class="btn" type="submit">Search by product</button> <br> <br>

<button class="btn"  type="submit">Go to the map to explore</button>