<form action="/add-products" method="POST" id="form" enctype="multipart/form-data">

  <label for="title">Title of your product</label>
  <input name="title" type="text" id="title">

 <label for="brand">Brand:</label>
  <input name="brand" type="text" id="brand">

  <label for="start">When does your product expire?</label>
  <input type="date" id="expiryDate" name="exiryDate" value="2020-09-01">
  {{!-- what value should we use? --}}

  <label for="description">Describe your product</label>
  <input name="description" type="text" id="description">

  <label for="image">add an image of your product </label>
  <input type="file" name="image" id="image">

 <label>Select a category</label>
             <select id = "myList">
               <option value = "fruitsandvegetables">fruitsandvegetables</option>
               <option value = "alreadycooked">alreadycooked</option>
               <option value = "condiments">condiments</option>
               <option value = "dairy">dairy</option>
               <option value = "meatandfish">meatandfish</option>
               <option value = "veggieproducts">veggieproducts</option>
               <option value = "drygoods">drygoods</option>
               <option value = "backeryproducts">backeryproducts</option>
               <option value = "drinks">drinks</option>
             </select>

  <button type="submit">Add your product</button>
</form>