<h1>Add a new product </h1>
{{!-- where does this come from?? --}}
{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}

<div class="wrapper">
    <div class="navi" id="map" style='width: 100%; height: 85vh;'></div>
{{!-- 
    <div>
        <a href="/about">
            
        </a>
    </div> --}}

</div>