<header>

  <nav>
    <ul>
      <li>  <a href="/">Home</a> </li>
   
    </ul>
  </nav>
</header>

<h1 class="center">Add your new product to give away </h1>

<h2 class="center">Place the pin where your product is and get started!</h2>
{{!-- where does this come from?? --}}
{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}

<div class="wrapper" id="map-add-product">
    <div class="navi" id="map" style='width: 100%; height:80vh;'></div>
{{!-- 
    <div>
        <a href="/about">
            
        </a>
    </div> --}}

</div>