<h1> What are you looking for?</h1>>

<section id="boxes">
  <div class="content-boxes">
    <div class="card">
      <img class="logo" src="" height="" width="" alt="Bakery products" />
      <heading>
        <h3>Bakery products</h3>
      </heading>
      <p>From bread to petits croissants</p>
    </div>

    <div class="card">
      <img class="logo" src="" height="" width="" alt="Fruits & veggies" />
      <heading>
        <h3>Fruits & veggies</h3>
      </heading>
      <p>Fresh or canned, have a look! </p>
    </div>


    <div class="card">
      <img class="logo" src="" height="" width="" alt="Dry goods" />
      <heading>
        <h3>Grains & dry goods</h3>
      </heading>
      <p>Anything from quinoa to flour</p>
    </div>

    <div class="card">
      <img class="logo" src="" height="" width="" alt="already cooked" />
      <heading>
        <h3>Already cooked!</h3>
      </heading>
      <p>The eyes were bigger than the stomach? Let's share it with the community!</p>
    </div>

    <div class="card">
      <img class="logo" src="" height="" width="" alt="Condiments" />
      <heading>
        <h3>Condiments</h3>
      </heading>
      <p>Looking for oil, sauce or spices? Add some flavour in your life!</p>
    </div>

    <div class="card">
      <img class="logo" src="" height="" width="" alt="Meat & fishes" />
      <heading>
        <h3>Meat & fishes</h3>
      </heading>
      <p>Protein lovers can look for their pick here </p>
    </div>
    <div class="card">
      <img class="logo" src="" height="" width="" alt="dairy products" />
      <heading>
        <h3>Dairy products</h3>
      </heading>
      <p>Yoghurt, milk & much more!</p>
    </div>

    <div class="card">
      <img class="logo" src="" height="" width="" alt="drinks" />
      <heading>
        <h3>Drinks</h3>
      </heading>
      <p>Let get the party started!</p>
    </div>