<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/logout">Log out</a> </li>
    </ul>
  </nav>
</header>

{{#each product}}

<h2>{{title}}</h2>

<img src="{{image_url}}" alt="{{name}}">

<h3>What about it? </h3> <br>

{{Description}}

{{/each product}}

<h3>Interested in getting it?</h3>
<p>Leave a comment to the owner to let him know you want to help clean its fridge!</p>